*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

a:link ,a:active,a:hover{
    text-decoration: none;
     
}
img{
    max-width: 100%;
}


button{
    font-size: 1-5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(4, 0, 255);
    transition: color 300ms, background-color 350ms;
}

button:hover{
    color: rgb(230, 159, 27);
    background-color: rgb(128, 73, 180);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.container{
    max-width: 1440px;
    margin: auto;
}
.color-acento{
    color: rgb(128, 73, 180);
}
header{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(49, 26, 42);
    font-size: 1.5em;
}  

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

header .main-menu__items{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    font-weight: bold;
    color: black;
    transition: color 300ms;
    font-size: 17px;
}
header a:hover{
   color: blueviolet;
}
.header--show{
    transform: translateY(0);
}

#hero{
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 90vh;
   color: white;
   background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
   ) ,url("img/166105-cyberpunk-anime-retro_punk_anime_girl_acostado_en_la_cama-morado-violeta-3840x2160.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#informacion-sobre-monas .container{
    text-align: center;
    padding:200px 12px ;
}


#images-monaschinas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#images-monaschinas .container{
    padding: 100px 0px;
}
#images-monaschinas h2{
    margin: 0;
}
#images-monachinas p{
    display: none;
}

.carta{
    background-size: cover;
    background-position: center center;
    padding: 70px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ) ,url("img/185425.jpg");
}

.carta:nth-child(2){
    background-position: center top;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ) ,url("img/Chainsaw.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ) ,url("img/692362.png");
}

.informacion-sobre-monas .container{
    text-align: center;
}

footer .container{
    display: flex;
    flex-direction: column;
}

footer .container p{
    align-self: end;
    justify-self: end;
}

@media screen and (min-width: 767px) {

}